<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div th:if="${userProfile != null}" data-username="${userProfile.username}" data-id="${userProfile.id}">

    <!-- 나의 판매글 목록 -->
    <section id="myPosts">

        <h3 th:text="'총 판매글 ' + ${statusZeroOneCount} + ' 건 | 거래 성공 ' + ${statusOneCount} + ' 건'"></h3>

        <form th:action="@{/mypage/deleteMyPosts}" method="post" id="deleteForm">
            <table class="myPostsList">
                <thead>
                <tr>
                    <th></th>
                    <th>제목</th>
                    <th>거래상태</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tbody>
                <!-- 판매글 목록 데이터를 동적으로 추가 -->
                <tr th:each="myPost : ${myPosts}" th:if="${myPost.status != 2}">
                    <td><input type="checkbox" th:value="${myPost.post_id}" name="selectedPostIds" data-></td>
                    <td><span id="subject" th:text="${myPost.subject}"></span></td>
                    <td><span th:text="${myPost.status == 0 ? '판매중' : (myPost.status == 1 ? '판매완료' : '삭제')}"></span></span></td>
                    <td><span id="regDate" th:text="${#temporals.format(myPost.regDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span></span></td>
                </tr>
                </tbody>
            </table>
            <br>

            <!-- 선택된 판매글을 담을 hidden input -->
            <input type="hidden" id="selectedPostIdsInput" name="selectedPostIds">

            <!-- 삭제 버튼 -->
            <button class="btn-outline-danger" type="button" onclick="deleteSelectedPostIds()">내 판매글 삭제</button>
        </form>

    </section>
    <br><br><br>

    <!-- 받은 리뷰 -->
    <!--
    <section id="MyReceivedReviews">

        <h3 th:text="'받은 리뷰 ' + ${myReceivedReviews.size()} + ' 건'"></h3>

        &lt;!&ndash; 리뷰를 박스로 표시 &ndash;&gt;
        <div th:each="myReceivedReview : ${myReceivedReviews}"
             th:class="${'reviewBox status-' + myReceivedReview.reviewChk}">
            &lt;!&ndash; 리뷰 확인 &ndash;&gt;
            <div class="reviewStatus">
                &lt;!&ndash;<span th:text="${myReceivedReview.reviewChk}"></span>&ndash;&gt;
                <span th:text="${myReceivedReview.reviewChk == 0 ? '별로에요' : (myReceivedReview.reviewChk == 1 ? '만족해요' : (myReceivedReview.reviewChk == 2 ? '최고에요' : '알 수 없는 상태'))}"></span>
            </div>
            &lt;!&ndash; 리뷰 내용 &ndash;&gt;
            <div class="reviewContent">
                <span th:text="${myReceivedReview.content}"></span>
            </div>
        </div>
    </section>
    -->

</div>

<div th:if="${userProfile == null}">
    <p>사용자 프로필을 찾을 수 없습니다.</p>
</div>

<script src="/js/mypage.js"></script>

</body>
</html>
