#chatContainer {
    /* width: 32%;
    margin: 0px 0px 0px 20px; */
}

.chatInput{
    /* padding-right: 0%;
    border-color: black;
    padding: 0%;
    float: left; */
}
.chatRow{
    /* padding-right: 0;
    margin: 0px 0px;
    width: 32%; */
}
.chatCol{
    padding: 0%;
}
.chatInput::after{
    box-sizing: content-box;
}
.chatText{
    margin: 2px;
}
.chatBtn{
    width: 64px;
}

#lobby-h2 {
    width: 32%;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}