#loginWrap {
    background-color: black;
    height: 1000px;
}

#formBorder {
    border: white;
}

form[name="frm"] {
    margin: auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 500px;
    
}

#login {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logInfo {
    margin-left: 570px;
    margin-top: 10px;
}

#loginBtn {
    margin-top: 30px;
    margin-left: 680px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    font-size: large;
    font-weight: bold;
    width: 160px;
    height: 40px;
}



